*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: deepskyblue;
  }
  .wrapper{
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: inset 15px 15px 25px 20px rgba(136, 136, 216, 0.7),
              inset -5px -15px 13px rgba(255, 255, 255, 0.7);
    border-radius: 50% 42% 60%;
  }
  .wrapper::before{
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.7);
      top: 70px;
      left: 60px;
      border-radius: 50%;
  }